.adopt-page {
    background-color: #eccfc3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-box {
    display: flex;
}

.cat-summary img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

/* Center tables for demo */
table {
    margin: 0 auto;
}

/* Default Table Style */
table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 12pt;
    border-collapse: collapse;
}
table thead th,
table tfoot th {
    color: #777;
    background: rgba(0, 0, 0, 0.1);
}
table caption {
    padding: 0.5em;
}
table th,
table td {
    padding: 0.5em;
    border: 1px solid lightgrey;
}
/* Zebra Table Style */
[data-table-theme*="zebra"] tbody tr:nth-of-type(odd) {
    background: rgba(0, 0, 0, 0.05);
}
[data-table-theme*="zebra"][data-table-theme*="dark"]
    tbody
    tr:nth-of-type(odd) {
    background: rgba(255, 255, 255, 0.05);
}
/* Dark Style */
[data-table-theme*="dark"] {
    color: #ddd;
    background: #333;
    font-size: 12pt;
    border-collapse: collapse;
}
[data-table-theme*="dark"] thead th,
[data-table-theme*="dark"] tfoot th {
    color: #aaa;
    background: rgba(0255, 255, 255, 0.15);
}
[data-table-theme*="dark"] caption {
    padding: 0.5em;
}
[data-table-theme*="dark"] th,
[data-table-theme*="dark"] td {
    padding: 0.5em;
    border: 1px solid grey;
}
